.body-primary {
  background-color: whitesmoke;
}

.site-logo {
  max-width: var(--max-width, 125px);
  font-size: var(--font-size, var(--fs-base));
  font-weight: var(--font-weight, var(--fw-medium));
  display: inline-flex;
  flex-shrink: 0;
  align-self: center;
  align-items: center;
  vertical-align: middle;
  color: var(--base-100);
  letter-spacing: -0.02em;
  line-height: 1;
  overflow-wrap: anywhere;
  text-decoration: none;
  outline: 0px;
  width: 50px;
  height: 40px;
}
.site-logo img {
  width: 100%;
}

.user__button {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  margin: none;

  border: none;
}
.user__button img {
  width: 100%;
  border-radius: 50%;
}

.card__comment--image {
  width: 110px;
  height: 32px;
}
.card__comment--image img {
  border-radius: 50%;
  width: 25px;
}

.card__comment--image--final {
  display: flex;
  align-items: flex-start;
}

.card__comment--body--name--date {
  position: relative;
  left: calc(20% - 30px);
  top: 10px;
}

.c-btn {
  border: none;
  background: none;
}

.card {
  margin-bottom: 5px;
}

<<<<<<< HEAD
=======
.card__top--content {
  width: 273px;
  height: 35px;
  padding-bottom: 45px;
}

.card__top--photo-name {
  width: 148px;
  height: 35px;
}

.name__date--container {
  position: relative;
  left: calc(20% - 50px);
  top: calc(20% - 10px);
  font-size: 11px;
  width: 207px;
}
.name__date--container a {
  text-decoration: none;
  color: black;
}

.number__of__coments {
  position: relative;
  right: 15px;
}

.card__comment--item {
  margin-top: 10px;
}

.card__comment--body {
  background-color: whitesmoke;
  border-radius: 5px;
}

.card__comment--body--content {
  padding: 30px;
.card-top {
  align-items: center;
  justify-content: space-between;
}

>>>>>>> cfb5ca8397192260250841ceeae6fd3ce615daa8
.sponsorship__header {
  align-items: center;
  margin-top: 10px;
}

.sponsorship__header__button {
  background: none;
  border: none;
}

.itag__link--h3 {
  color: #525252;
  font-size: 14px;
}

.itag__link {
  border: 1px solid;
  border-color: rgb(212, 212, 212);
}

.ltag__link__tag {
  color: #404040;
  font-size: 12px;
}

.ltag__link__user__pic {
  margin-right: 30px;
  position: relative;
  margin-right: 30px;
  position: relative;
  bottom: -27px;
  left: 34px;
}

.anchor--decoration {
  text-decoration: none;
  color: #575757;
  padding-right: 12px;
}

.main__reaction--container {
  padding-left: calc(0.5rem - 5px);
}

.multiple__reactions--container {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  left: -19px;
}
.multiple__reactions--container .reaction--item {
  display: inline-block;
  background-color: whitesmoke;
  border: 2px solid white;
  border-radius: 15px;
  margin-right: -0.75em;
  width: 28px;
  height: 28px;
}

.multiple__reactions__number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 186.5px;
  height: 36px;
}
.multiple__reactions__number .main__reaction--container {
  width: 122px;
  height: 100%;
}

.last__minute__reaction {
  display: flex;
  align-items: center;
  width: 30px;
}
.last__minute__reaction .fs-xs {
  font-size: 0.75rem;
}
.last__minute__reaction .mr-2 {
  margin-right: 0.5rem;
}

.offcanvas--buttons-1 {
  display: block;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: 0;
}

.author__picture {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.author__picture img {
  width: 100%;
  border-radius: 100%;
  border-color: #000000;
}/*# sourceMappingURL=styles.css.map */