.site-logo {
    max-width: var(--max-width, 125px);
    font-size: var(--font-size, var(--fs-base));
    font-weight: var(--font-weight, var(--fw-medium));
    display: inline-flex;
    flex-shrink: 0;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    color: var(--base-100);
    letter-spacing: -0.02em;
    line-height: 1;
    overflow-wrap: anywhere;
    text-decoration: none;
    outline: 0px;
  }
  
  .card {
    margin-bottom: 5px;
  }
  
  .anchor--decoration {
    text-decoration: none;
  }
  /* offcanvas */
  .offcanvas.offcanvas-start{
      width: 300px;
  }
  .offcanvas--buttons-1 {
    display: block;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: 0;
  }
  .crayons-card{
      border-radius: var(--radius-auto);
      background: var(--card-bg);
      color: var(--card-color);
      box-shadow: 0 0 0 1px var(--card-secondary-border);
      overflow-wrap: break-word;
      overflow-wrap: anywhere;
      /* padding-left: 10px;
      padding-right: 80px; */
  }
  
  .crayons-subtitle{
      font-size:large;
      color: var(--base-90);
  }
  
  .create-account__btn{
      font-size: 16px;
  }
  
  .navagation-links{
      list-style: none;
      padding: 0;
  }
  
  .lg__button:hover{
  background-color: rgb(80, 99, 301) ;
  }
  
  .home-icon{
      margin-right: 10px;
  }
  
  a{
      text-decoration: none;
  }
  .icons{
      width: 24px;
      height: 24px;
  }
  
  